body {
  font-family: sans-serif;
}

#forums-showing, #tools-showing, #links-showing {
   display: none;
}

.clickable, .clickable-one, .clickable-two  {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.dark  {
  background-color: rgb(237, 172, 92);
}
