body {
  font-family: sans-serif;
}

#forums-showing {
  display: none;
}

#tools-showing {
  display: none;
}

#links-showing {
  display: none;
}

#faqs-showing {
  display: none;
}

/*
p {
  cursor: pointer;
  color: #0088cc;
}
*/

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable-one {
  cursor: pointer;
  color: #0088cc;
}

.clickable-two {
  cursor: pointer;
  color: #0088cc;
}

.clickable-three {
  cursor: pointer;
  color: #0088cc;
}

/*
p:hover {
  text-decoration: underline;
}
*/

.clickable:hover {
  text-decoration: underline;
}
